//Testing styles

//NOTA: Descomenta para prueas de padding, margenes, display de los DIV.
// div{
//     border: 1px solid red;
// }

div > a.opInicio{
    margin-top: 100px;
}

a.opInicio{
    display: block;
    transition: all .2s ease-in;
    i.material-icons, h5{
        transition: all .2s ease-in;
    }
}

a.opInicio:hover{
    i.material-icons, h5{
        color: #26a69a;
    }
}